.contenedortotal{
    width: 80%;
    margin: auto;
    border: 1px solid #C6BDBD;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(199, 199, 199, 0.67);
    border-radius: 20px;
    margin-top: 130px;
}
#LogoMT{
    height: 105px;
    text-align: center;
}
.contenedortotal h1{
    text-align: center;
}
.ContenedorServicios{
    width: 80%;
    height: auto;
    margin:auto;
    text-align: justify;
}
.ServicioItem{
    width: fit-content;
    width: 45%;
    display: inline-block;
}
.ServicioItem img{
    margin-top: 4px;
    height: 47px;
    width: 52px;    
}
.contenedorimg{
    text-align:end;
}
.contenedorinfo h4, .contenedorinfo h5{
    padding-left: 10%;  
}

.trabajadores{
    width: 84%;
    height: auto;
    margin: auto;
    text-align: center;
}
.ListaTrabajadores{
    width: fit-content;
    margin: 0%;
    display: inline-block;
}

.ListaTrabajadores img{
    height: 100px;
    width: auto;
    width: fit-content;
}
.ListaTrabajadores h5{
    margin-left: 15px;
}
.btn{
    padding:0;
}
.btnServicios{
    border-radius: 100%;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #fce5ad;
    border:thin;
    
}

.btnServicios:focus{
    background-color: #E7BC4D;
}
@media (max-width:750px){
    .ServicioItem{
        width: 100%;
    }
    .contenedorinfo h4, .contenedorinfo h5{
        padding-left: 0px;  
    }
    .contenedorimg{
        text-align: left;
    }
}