.Form-Inicio{
    width: 40%;
    max-width: 539px;
    min-width: 439px;
    height: 592px;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid #C6BDBD;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(199, 199, 199, 0.67);
    border-radius: 20px;
    position: relative;
}
#Iniciar{
    position: relative;
    top: 25%;
    font-size: 36px;
    margin: auto;
    text-align: center;
}
#logo-responsive{
    width: 50%;
    height: fit-content;
    position: absolute;
    margin-left: 25%;
}

#Nombre{
    width: 83%;
    top:38%;
    text-align: center;
    font-size: 24px;
    position: absolute;
}

#Contraseña{    
    width: 83%;
    top:50%;
    text-align: center;
    font-size: 24px;
    position: absolute;
}
#Olvidar{
    color: black;
    position: relative;
    text-decoration:underline;
    top: 53%;
    text-align: center;
}
.btnIngresar{
    position: relative;
    top: 53%;
    margin-left: 42.5%;
}
#Registrate{
    color: black;
    position: relative;
    text-decoration: underline;
    top: 55%;
    text-align: center;
}


@media (max-width:1366px){
    #Nombre{    
        width: 82%;
    }
    #Contraseña{    
        width: 82%;
    }
    .btnIngresar{
        margin-left: 43%;
    }

}

