.navbar{
    position: relative;
    opacity: 1;
    background-color: #000000;
}

#listasI{
    color:#E7BC4D;
    font-size: 25px;
    margin: 0 5%;    
}
#listasD{
    color:#E7BC4D;
    font-size: 25px;
    margin: 0 5%;
    margin-left: 15%;
}
#listasD2{
    color:#E7BC4D;
    font-size: 25px;
    margin: 0 5%;
    margin-left: 10%;
}
.contenedorIzquierda {
    margin-left: 5%;
    width: 40%; 
}
.contenedorDerecha{
    margin-left: 5%;
    width: 50%;
}
#logo2{
    position: absolute;
    left: 40%;
    right: 40%;
    top: 0px;
    height: 182px;
    width: 127px;
    opacity: 1;
}
#imagenButton{
    height: 100px;
    width: fit-content;
}
.containerimg{
    margin:0%;
}
.containerimg img{
    padding-left: 0%;
    height: 480px;
    width: 100%;
}
.titulo{
    display: none;
    color:"#E7BC4D"
}

@media (max-width: 992px) {
    #logo2 {
      display: none;
    }
    #listasI{
        font-size: 20px;
        margin-left: 0%;
    }
    #listasD{
        font-size: 20px;
        margin-left: 0%;
    }
    #listasD2{
        font-size: 20px;
        margin-left: 0%;
        font-weight: bold;
    }
    .titulo{
        display: block;
    } 
   
}
@media (max-width: 768px){
    .containerimg img{
        padding-left: 0%;
        height: 300px;
        width: 100%;
    }
}