.Form-Inicio-Registro {
    width: 10%;
    text-align: center;
    max-width: 539px;
    min-width: 439px;
    height: auto;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid #C6BDBD;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(199, 199, 199, 0.67);
    border-radius: 20px;
}

.form-select {
    background-color: #E4E4E4;
}

.form-select:focus {
    border-color: rgb(231, 188, 77);
    box-shadow: inset 0 1px 1px rgba(231, 188, 77, 0.075), 0 0 8px rgba(231, 188, 77, 0.6);
    outline: 0 none;
}


#Iniciar-Registro {
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#logo-responsive-Registro {
    margin: auto;
    width: 50%;
    height: auto;
}

#Nombres-Registro {
    opacity: 80%;
    width: 85%;
    top: 24.5%;
    text-align: center;
    font-size: 20px;

}

#Apellidos-Registro {
    opacity: 80%;
    width: 85%;
    top: 31.6%;
    text-align: center;
    font-size: 20px;

}

.form-control-Registro {
    margin: auto;
    margin-top: 4.5%;
    opacity: 80%;
    width: 85%;
    top: 45.8%;
    text-align: center;
    font-size: 20px;


}

#Tipo-Registro {
    opacity: 80%;
    width: 50%;

    margin-left: 37%;
    text-align: center;
    font-size: 20px;

}

.tipo-Documento-Registro {
    width: 85%;
}

#Documento-Registro {
    opacity: 80%;
    width: 85%;
    top: 31.6%;
    padding-left: 47.5px;
    text-align: left;
    font-size: 20px;

}

#Documento-Registro2 {
    opacity: 80%;
    width: 85%;
    top: 31.6%;
    padding-left: 9%;
    text-align: left;
    font-size: 20px;

}

#Nickname-Registro {
    opacity: 80%;
    width: 85%;
    top: 45.8%;
    text-align: center;
    font-size: 20px;

}

#Correo-Registro {
    opacity: 80%;
    width: 85%;
    top: 52.9%;
    text-align: center;
    font-size: 20px;

}

#Contraseñas-Registro {
    opacity: 80%;
    width: 85%;
    top: 60%;
    text-align: center;
    font-size: 20px;

}

#Confirmar-Registro {
    opacity: 80%;
    width: 85%;
    top: 67.1%;
    text-align: center;
    font-size: 20px;

}

.Politica-Registro {
    text-decoration: underline;
    text-align: center !important;
    margin-top: 25px;
}

.btn-Registro {
    height: 35px;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#Login-Registro {
    color: black;
    text-decoration: underline;
    text-align: center !important;
}

.Redes-Registro {
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-Registro {
    margin: auto;
    margin-top: 3%;
}

@media (max-width:1366px) {
    #Nombre {
        width: 85%;
    }

    #Contraseña {
        width: 85%;
    }

    .btnIngresar {
        margin-left: 41%;
    }

}

.espacio_para_que_no_se_vea_mal_el_icono_de_inicio {
    height: 80px;
}